/* =========================
   RESET
========================= */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

/* =========================
   VARIABLES (TEMA)
========================= */
:root {
    --bg-color: #e4e4e4;
    --text-primary: #807e7e;
    --text-secondary: #333;
    --accent-color: #ff7300;
    --trilho-bg: #6a6868;
    --indicador-bg: #000;
}

body.dark {
    --bg-color: #0f0f0f;
    --text-primary: #e4e4e4;
    --text-secondary: #c3c3c3;
    --accent-color: #ff7300;
    --trilho-bg: #c3c3c3;
    --indicador-bg: #ffffff;
}

/* =========================
   LAYOUT
========================= */
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 80px;
    background-color: var(--bg-color);
    transition: background-color .4s ease;
}

/* =========================
   BOTÃO DARK MODE
========================= */
.trilho{
    width: 60px;
    height: 30px;
    background-color: var(--trilho-bg);
    border-radius: 30px;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
    cursor: pointer;
    transition: background-color .4s ease;
}

.trilho .indicador{
    width: 30px;
    height: 30px;
    background-color: var(--indicador-bg);
    border-radius: 50%;
    transform: scale(.8);
    position: absolute;
    left: 0;
    transition: transform .4s ease, background-color .4s ease;
}

.trilho.dark .indicador{
    transform: translateX(30px) scale(.8);
}

/* =========================
   APRESENTAÇÃO
========================= */
.apresentacao {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 100px;
    max-width: 900px;
    padding: 0 20px;
}

h1 {
    font-size: 48px;
    margin-bottom: 20px;
    color: var(--text-primary);
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: var(--text-primary);
}

.descricao-curta {
    max-width: 600px; 
    font-size: 18px;
    line-height: 1.6;
    color: var(--text-secondary);
}

/* =========================
   MENU
========================= */
.menu-desktop{
    width: 100%;
    position: fixed;
    top: 20px;
}

.menu-desktop ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

.menu-desktop ul li {
    margin: 0 30px;
}

.menu-desktop ul li a {
    text-decoration: none;
    color: var(--text-secondary);
    font-size: 18px;
    font-weight: 500;
    transition: color 0.3s ease;
}

.menu-desktop ul li a:hover {
    color: var(--accent-color);
}


/* animação do gif */

.gif-apresentacao {
    display: block;
    margin: 20px auto;
    width: 100px;
    height: 100px;
    transition: transform 3s ease, opacity 3s ease;
}

.gif-apresentacao.fly-right {
    transform: translateX(150vw); /* move pra fora da tela */
    opacity: 0; /* desaparece */
}
